In [203]:
#Evaluacion_1

In [204]:
import pandas as pd
deudapbiLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/variable_deuda_PBI.csv'
gastosaludLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/variable_gasto_salud.csv'
hdiLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/Variable_Naciones_Unidas.csv'

deudapbi=pd.read_csv(deudapbiLink)
gastosalud=pd.read_csv(gastosaludLink)
hdi=pd.read_csv(hdiLink)

In [205]:
#amount of rows of each DF:
deudapbi.shape,gastosalud.shape,hdi.shape

((190, 2), (192, 2), (193, 2))

In [206]:
#column names of each DF:
deudapbi.columns,gastosalud.columns,hdi.columns

(Index(['Countries', 'Debt ($M)'], dtype='object'),
 Index(['Countries', 'Gov. Health Exp.($M)'], dtype='object'),
 Index(['Countries', 'HDI'], dtype='object'))

In [207]:
#merge of DF:
merge1=deudapbi.merge(gastosalud,how='inner',left_on='Countries',right_on='Countries').merge(hdi,how='inner',left_on='Countries',right_on='Countries')
merge1

           Countries   Debt ($M)  Gov. Health Exp.($M)    HDI
0     United States   29,476,402  3,590,550,278,000.00  0.921
1    United Kingdom    3,151,536     87,073,157,032.30  0.929
2           Germany    2,711,576    445,746,483,000.00  0.942
3            France    3,106,402    279,900,617,256.00  0.903
4             Japan   12,783,842    213,703,956,338.90  0.925
..               ...         ...                   ...    ...
182           Samoa          364                  36.2  0.707
183           Yemen       18,092                   183  0.455
184    South Africa      288,114             15,210.00  0.713
185          Zambia       24,538                 446.9  0.565
186        Zimbabwe    1,905,213                 732.5  0.593

[187 rows x 4 columns]

In [208]:
#amount of rows in the merge:
merge1.shape

(187, 4)

In [209]:
#Rename the Countries column
merge1=merge1.rename(columns={"Countries": "Country"})
merge1

             Country   Debt ($M)  Gov. Health Exp.($M)    HDI
0     United States   29,476,402  3,590,550,278,000.00  0.921
1    United Kingdom    3,151,536     87,073,157,032.30  0.929
2           Germany    2,711,576    445,746,483,000.00  0.942
3            France    3,106,402    279,900,617,256.00  0.903
4             Japan   12,783,842    213,703,956,338.90  0.925
..               ...         ...                   ...    ...
182           Samoa          364                  36.2  0.707
183           Yemen       18,092                   183  0.455
184    South Africa      288,114             15,210.00  0.713
185          Zambia       24,538                 446.9  0.565
186        Zimbabwe    1,905,213                 732.5  0.593

[187 rows x 4 columns]

In [210]:
#the Country column capitalized
merge1['Country']=merge1['Country'].str.upper()
merge1

             Country   Debt ($M)  Gov. Health Exp.($M)    HDI
0     UNITED STATES   29,476,402  3,590,550,278,000.00  0.921
1    UNITED KINGDOM    3,151,536     87,073,157,032.30  0.929
2           GERMANY    2,711,576    445,746,483,000.00  0.942
3            FRANCE    3,106,402    279,900,617,256.00  0.903
4             JAPAN   12,783,842    213,703,956,338.90  0.925
..               ...         ...                   ...    ...
182           SAMOA          364                  36.2  0.707
183           YEMEN       18,092                   183  0.455
184    SOUTH AFRICA      288,114             15,210.00  0.713
185          ZAMBIA       24,538                 446.9  0.565
186        ZIMBABWE    1,905,213                 732.5  0.593

[187 rows x 4 columns]

In [211]:
merge1.Country=merge1.Country.str.strip()

In [212]:
import pandas as pd
isosLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/country_isos.csv'

isos=pd.read_csv(isosLink)
isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [213]:
isos.Country=isos.Country.str.strip()

In [214]:
# Countries in 'merge1' but NOT in 'isos'
OnlyMerge1=set(merge1.Country)-set(isos.Country)
OnlyMerge1

{'ANDORRA',
 'BAHAMAS',
 'BOLIVIA',
 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS',
 "CÃ”TE D'IVOIRE",
 'DEMOCRATIC REPUBLIC OF THE CONGO',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ERITREA',
 'FEDERATED STATES OF MICRONESIA',
 'IRAN',
 'ISRAEL',
 'KIRIBATI',
 'LAOS',
 'MARSHALL ISLANDS',
 'MOLDOVA',
 'NAURU',
 'NETHERLANDS',
 'NIGER',
 'PHILIPPINES',
 'REPUBLIC OF THE CONGO',
 'RUSSIA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT VINCENT AND THE GRENADINES',
 'SAN MARINO',
 'SOUTH AFRICA',
 'SOUTH KOREA',
 'SUDAN',
 'SYRIA',
 'TANZANIA',
 'THE GAMBIA',
 'TONGA',
 'TUVALU',
 'TÃœRKIYE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'VANUATU',
 'VENEZUELA'}

In [215]:
# Countries in 'isos' but NOT in 'merge1'
OnlyIsos=set(isos.Country)-set(merge1.Country)
OnlyIsos

{'BAHAMAS (THE)',
 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BRUNEI DARUSSALAM',
 'CENTRAL AFRICAN REPUBLIC (THE)',
 'COMOROS (THE)',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
 'CONGO (THE)',
 'CUBA',
 "CâˆšÃ®TE D'IVOIRE",
 'DOMINICAN REPUBLIC (THE)',
 'GAMBIA (THE)',
 'IRAN (ISLAMIC REPUBLIC OF)',
 'KOREA (THE REPUBLIC OF)',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)",
 'MICRONESIA (FEDERATED STATES OF)',
 'MOLDOVA (THE REPUBLIC OF)',
 'NETHERLANDS (THE)',
 'NIGER (THE)',
 'PHILIPPINES (THE)',
 'RUSSIAN FEDERATION (THE)',
 'SUDAN (THE)',
 'TANZANIA, THE UNITED REPUBLIC OF',
 'TURKEY',
 'UNITED ARAB EMIRATES (THE)',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)'}

In [216]:
from thefuzz import process as fz

[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)]

[('BAHAMAS (THE)', ('BAHAMAS', 90)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO', 95)),
 ('CONGO (THE)', ('DEMOCRATIC REPUBLIC OF THE CONGO', 86)),
 ('CUBA', ('DEMOCRATIC REPUBLIC OF THE CONGO', 45)),
 ("CâˆšÃ®TE D'IVOIRE", ("CÃ”TE D'IVOIRE", 96)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('GAMBIA (THE)', ('THE GAMBIA', 95)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('KOREA (THE REPUBLIC OF)', ('THE GAMBIA', 86)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('THE GAMBIA', 86)),
 ('MICRONESIA (FEDERATED STATES OF)', ('FEDERATED STATES OF MICRONESIA', 95)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('TURKEY', ('TÃœRKIYE', 67)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90))]

In [217]:
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)
 if fz.extractOne(f, OnlyMerge1)[1]>=87]

[('BAHAMAS (THE)', ('BAHAMAS', 90)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO', 95)),
 ("CâˆšÃ®TE D'IVOIRE", ("CÃ”TE D'IVOIRE", 96)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('GAMBIA (THE)', ('THE GAMBIA', 95)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('MICRONESIA (FEDERATED STATES OF)', ('FEDERATED STATES OF MICRONESIA', 95)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90))]

In [218]:
changesFragile1={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(OnlyIsos)
                 if fz.extractOne(f, OnlyMerge1)[1] >=87}
#dict of matches
changesFragile1

{'BAHAMAS (THE)': 'BAHAMAS',
 'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA',
 'BRUNEI DARUSSALAM': 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC (THE)': 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS (THE)': 'COMOROS',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)': 'DEMOCRATIC REPUBLIC OF THE CONGO',
 "CâˆšÃ®TE D'IVOIRE": "CÃ”TE D'IVOIRE",
 'DOMINICAN REPUBLIC (THE)': 'DOMINICAN REPUBLIC',
 'GAMBIA (THE)': 'THE GAMBIA',
 'IRAN (ISLAMIC REPUBLIC OF)': 'IRAN',
 'MICRONESIA (FEDERATED STATES OF)': 'FEDERATED STATES OF MICRONESIA',
 'MOLDOVA (THE REPUBLIC OF)': 'MOLDOVA',
 'NETHERLANDS (THE)': 'NETHERLANDS',
 'NIGER (THE)': 'NIGER',
 'PHILIPPINES (THE)': 'PHILIPPINES',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA',
 'SUDAN (THE)': 'SUDAN',
 'TANZANIA, THE UNITED REPUBLIC OF': 'TANZANIA',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES'}

In [219]:
# make the changes
isos.Country.replace(to_replace=changesFragile1,inplace=True)

In [220]:
# second try
OnlyMerge1=set(merge1.Country)-set(isos.Country)
OnlyIsos=set(isos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)]

[('CONGO (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('CUBA', ('SOUTH AFRICA', 45)),
 ('KOREA (THE REPUBLIC OF)', ('SOUTH KOREA', 86)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO', 86)),
 ('TURKEY', ('TÃœRKIYE', 67))]

In [229]:
# second dict of changes
changesFragile2={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(OnlyIsos)
                 if 86<=fz.extractOne(f, OnlyMerge1)[1] }

#dict of matches
changesFragile2

{'CONGO (THE)': 'REPUBLIC OF THE CONGO',
 'KOREA (THE REPUBLIC OF)': 'SOUTH KOREA',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)": 'REPUBLIC OF THE CONGO'}

In [230]:
# make the changes
isos.Country.replace(to_replace=changesFragile2,inplace=True)

In [231]:
OnlyMerge1=set(merge1.Country)-set(isos.Country)
OnlyIsos=set(isos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)]

[('CUBA', ('SOUTH AFRICA', 45)), ('TURKEY', ('TÃœRKIYE', 67))]

In [232]:
# third try
changesFragile3={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(OnlyIsos)
                 if 54==fz.extractOne(f, OnlyMerge1)[1]}

#dict of matches
changesFragile3

{}

In [233]:
#merge on Country
merge1Isos=merge1.merge(isos) 
merge1Isos

,Country,Debt ($M),Gov. Health Exp.($M),HDI,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,"29,476,402","3,590,550,278,000.00",0.921,"BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,"3,151,536","87,073,157,032.30",0.929,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,"2,711,576","445,746,483,000.00",0.942,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,"3,106,402","279,900,617,256.00",0.903,The French Republic,.fr,FR,FRA
4,JAPAN,"12,783,842","213,703,956,338.90",0.925,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
164,VIET NAM,"145,342","7,452.90",0.703,The Socialist Republic of Viet Nam,.vn,VN,VNM
165,SAMOA,364,36.2,0.707,The Independent State of Samoa,.ws,WS,WSM
166,YEMEN,"18,092",183,0.455,The Republic of Yemen,.ye,YE,YEM
167,ZAMBIA,"24,538",446.9,0.565,The Republic of Zambia,.zm,ZM,ZMB
168,ZIMBABWE,"1,905,213",732.5,0.593,The Republic of Zimbabwe,.zw,ZW,ZWE

In [234]:
merge1.merge(isos, left_on='Country',right_on='Country').shape

(169, 8)

In [235]:
# DATA CLEANING
merge1Isos.columns

Index(['Country', 'Debt ($M)', 'Gov. Health Exp.($M)', 'HDI',
       'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'],
      dtype='object')

In [236]:
#name the columns
merge1Isos.columns.to_list()

['Country',
 'Debt ($M)',
 'Gov. Health Exp.($M)',
 'HDI',
 'Officialstatename',
 'InternetccTLD',
 'iso2',
 'iso3']

In [237]:
#Rename columns
newMerge2Names={'Debt ($M)':'Debt_mdd','Gov. Health Exp.($M)':'Health_mdd','Officialstatename':'Official_state_name',
                'InternetccTLD':'Internet_TLD','iso2':'iso_2','iso3':'iso_3'}
merge1Isos.rename(columns=newMerge2Names,inplace=True)
merge1Isos

,Country,Debt_mdd,Health_mdd,HDI,Official_state_name,Internet_TLD,iso_2,iso_3
0,UNITED STATES,"29,476,402","3,590,550,278,000.00",0.921,"BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,"3,151,536","87,073,157,032.30",0.929,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,"2,711,576","445,746,483,000.00",0.942,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,"3,106,402","279,900,617,256.00",0.903,The French Republic,.fr,FR,FRA
4,JAPAN,"12,783,842","213,703,956,338.90",0.925,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
164,VIET NAM,"145,342","7,452.90",0.703,The Socialist Republic of Viet Nam,.vn,VN,VNM
165,SAMOA,364,36.2,0.707,The Independent State of Samoa,.ws,WS,WSM
166,YEMEN,"18,092",183,0.455,The Republic of Yemen,.ye,YE,YEM
167,ZAMBIA,"24,538",446.9,0.565,The Republic of Zambia,.zm,ZM,ZMB
168,ZIMBABWE,"1,905,213",732.5,0.593,The Republic of Zimbabwe,.zw,ZW,ZWE

In [238]:
#Replace
merge1Isos.Official_state_name=merge1Isos.Official_state_name.str.replace('Â¬â€ ', ',')
merge1Isos

,Country,Debt_mdd,Health_mdd,HDI,Official_state_name,Internet_TLD,iso_2,iso_3
0,UNITED STATES,"29,476,402","3,590,550,278,000.00",0.921,"Baker,Island, Howland,Island, Jarvis,Island, J...",NaN,UM,UMI
1,UNITED KINGDOM,"3,151,536","87,073,157,032.30",0.929,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,"2,711,576","445,746,483,000.00",0.942,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,"3,106,402","279,900,617,256.00",0.903,The French Republic,.fr,FR,FRA
4,JAPAN,"12,783,842","213,703,956,338.90",0.925,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
164,VIET NAM,"145,342","7,452.90",0.703,The Socialist Republic of Viet Nam,.vn,VN,VNM
165,SAMOA,364,36.2,0.707,The Independent State of Samoa,.ws,WS,WSM
166,YEMEN,"18,092",183,0.455,The Republic of Yemen,.ye,YE,YEM
167,ZAMBIA,"24,538",446.9,0.565,The Republic of Zambia,.zm,ZM,ZMB
168,ZIMBABWE,"1,905,213",732.5,0.593,The Republic of Zimbabwe,.zw,ZW,ZWE

In [239]:
merge1Isos.Debt_mdd=merge1Isos.Debt_mdd.str.replace(',', '')
merge1Isos

,Country,Debt_mdd,Health_mdd,HDI,Official_state_name,Internet_TLD,iso_2,iso_3
0,UNITED STATES,29476402,"3,590,550,278,000.00",0.921,"Baker,Island, Howland,Island, Jarvis,Island, J...",NaN,UM,UMI
1,UNITED KINGDOM,3151536,"87,073,157,032.30",0.929,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,2711576,"445,746,483,000.00",0.942,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,3106402,"279,900,617,256.00",0.903,The French Republic,.fr,FR,FRA
4,JAPAN,12783842,"213,703,956,338.90",0.925,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
164,VIET NAM,145342,"7,452.90",0.703,The Socialist Republic of Viet Nam,.vn,VN,VNM
165,SAMOA,364,36.2,0.707,The Independent State of Samoa,.ws,WS,WSM
166,YEMEN,18092,183,0.455,The Republic of Yemen,.ye,YE,YEM
167,ZAMBIA,24538,446.9,0.565,The Republic of Zambia,.zm,ZM,ZMB
168,ZIMBABWE,1905213,732.5,0.593,The Republic of Zimbabwe,.zw,ZW,ZWE

In [240]:
merge1Isos.Health_mdd=merge1Isos.Health_mdd.str.replace(',', '')
merge1Isos

,Country,Debt_mdd,Health_mdd,HDI,Official_state_name,Internet_TLD,iso_2,iso_3
0,UNITED STATES,29476402,3590550278000.00,0.921,"Baker,Island, Howland,Island, Jarvis,Island, J...",NaN,UM,UMI
1,UNITED KINGDOM,3151536,87073157032.30,0.929,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,2711576,445746483000.00,0.942,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,3106402,279900617256.00,0.903,The French Republic,.fr,FR,FRA
4,JAPAN,12783842,213703956338.90,0.925,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
164,VIET NAM,145342,7452.90,0.703,The Socialist Republic of Viet Nam,.vn,VN,VNM
165,SAMOA,364,36.2,0.707,The Independent State of Samoa,.ws,WS,WSM
166,YEMEN,18092,183,0.455,The Republic of Yemen,.ye,YE,YEM
167,ZAMBIA,24538,446.9,0.565,The Republic of Zambia,.zm,ZM,ZMB
168,ZIMBABWE,1905213,732.5,0.593,The Republic of Zimbabwe,.zw,ZW,ZWE

In [241]:
merge1Isos.dtypes

Country                 object
Debt_mdd                object
Health_mdd              object
HDI                    float64
Official_state_name     object
Internet_TLD            object
iso_2                   object
iso_3                   object
dtype: object

In [242]:
merge1Isos.Debt_mdd=pd.to_numeric(merge1Isos.Debt_mdd)
merge1Isos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              169 non-null    object
 1   Debt_mdd             169 non-null    int64
 2   Health_mdd           169 non-null    object
 3   HDI                  169 non-null    float64
 4   Official_state_name  169 non-null    object
 5   Internet_TLD         168 non-null    object
 6   iso_2                168 non-null    object
 7   iso_3                169 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 10.7+ KB

In [243]:
merge1Isos.Health_mdd=pd.to_numeric(merge1Isos.Health_mdd)
merge1Isos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              169 non-null    object
 1   Debt_mdd             169 non-null    int64
 2   Health_mdd           169 non-null    float64
 3   HDI                  169 non-null    float64
 4   Official_state_name  169 non-null    object
 5   Internet_TLD         168 non-null    object
 6   iso_2                168 non-null    object
 7   iso_3                169 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 10.7+ KB